---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Search from "@components/Search";
import { useTranslations } from "@i18n/ui";

export function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "zh" } }]
}

const { locale } = Astro.params
const t = useTranslations(locale)

const projects = (await getCollection("projects")).filter(
  (post) => !post.data.draft,
);

const data = projects as CollectionEntry<"projects">[];
---

<PageLayout title={t("search.title")} description={t("search.description")}>
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        {t("search.title")}
      </h1>
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Search client:load data={data} locale={locale} />
    </div>
  </BottomLayout>
</PageLayout>
