---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import SearchCollection from "@components/SearchCollection";
import { useTranslations } from "@i18n/ui";

export function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "zh" } }]
}

const { locale } = Astro.params
const t = useTranslations(locale)

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const tags = [
  ...new Set(projects.flatMap((project) => project.data.tags)),
].sort((a, b) => a.localeCompare(b));

const estimated_initial_size =
  28 + projects.length * 158 + (projects.length - 1) * 12;
---

<PageLayout title={t("projects.title")} description={t("projects.description")}>
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        {t("projects.title")}
      </h1>
      <div class="mt-1">
        {t("projects.description")}
      </div>
    </div>
  </TopLayout>
  <BottomLayout>
    <div
      id="search-collection-wrapper"
      class="animate"
      style={{ minHeight: `${estimated_initial_size}px` }}
    >
      <SearchCollection
        client:load
        entry_name={"projects"}
        tags={tags}
        data={projects}
        locale={locale}
      />
    </div>
  </BottomLayout>
</PageLayout>
